.userCard__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 1rem;
}

.user__username {
  margin-left: 10px;
}

.user__logo {
  display: flex;
  align-items: center;
}

.user__data {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.button__links {
  padding-left: 5px;
}

.button__link {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  color: white;
  background-color: #3d538d;
  cursor: pointer;
  transition: all ease 200ms;
}

.button__link:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 16px rgb(0 0 0 / 20%);
}

@media (max-width: 768px) {
}
@media (max-width: 560px) {
  .userCard__container{
    display: flex;
    justify-content: space-between;
  }
  .user__data {
    display: none;
  }
}